.env
.env.backup
.env.production
.git
.gitignore
.github
.idea
.vscode
node_modules
storage/logs/*.log
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
*.md
tests/
docker-compose.yml
phpunit.xml
.editorconfig
