[build]
builder = "nixpacks"
buildCommand = "composer install --no-dev --optimize-autoloader --no-interaction && npm install && npm run build"

[build.args]
PHP_VERSION = "8.3"

[deploy]
startCommand = "php -d display_errors=on -d error_reporting=E_ALL artisan serve --host=0.0.0.0 --port=8080"

[environments.staging]